$primary-blue-1: #006AD5;

body {
    background-color: #202020;
    color:white;
    margin-left: 15rem;
}
* {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
a {
    color:white;
    text-decoration: none;
}