.error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.error-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    img {
        height: 10rem;
    }
}