.error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.error-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    img {
        height: 10rem;
    }
}